<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}The Weeks Wedding{% endblock %}</title>
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .fancy-table th, .fancy-table td {
            vertical-align: top;
            font-size: 0.85em;
        }
        .fancy-table hr {
            margin: 0.4rem auto;
        }
        .fancy-table tbody tr:nth-child(even), .fancy-table thead {
            background: rgb(254, 237, 235);
        }
        .blue-table tbody tr:nth-child(even), .blue-table thead {
            background: rgb(237, 244, 251);
        }
        #itinerary-container {
            padding-top: 100px;
        }

        a {
            text-decoration: underline;
        }

        @media screen and (min-width: 1200px) {
            #venue h3 {
                margin-top:270px;
            }
            .homepage #flights .iceland-2 {
                margin-top: 0;
            }
        }

        .swipe {
            overflow: hidden;
            visibility: hidden;
            position: relative;
        }
        .swipe-wrap {
            overflow: hidden;
            position: relative;
        }
        .swipe-wrap > div {
            float: left;
            width: 100%;
            position: relative;
            overflow: hidden;
        }

        #slider img {
            max-height: 460px;
        }

    </style>
</head>
<body class="homepage">
<header class="header">
    <div data-sticky-container>
        <div class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%">
            <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
                <button class="menu-icon" type="button" data-toggle="main-menu"></button>
                <div class="title-bar-title">Menu</div>
            </div>
            <div class="top-bar-left text-center" id="main-menu">
                <ul class="dropdown vertical medium-horizontal menu" data-dropdown-menu>
                    {% include '@WeeksApp/Default/partials/menu-items.html.twig' %}
                </ul>
            </div>
        </div>
    </div>
    <h1 style="text-align: center; color:white; margin-top: 25px; font-size: 4rem;">
        The Weeks Wedding
    </h1>
</header>

{% include '@WeeksApp/Default/sections/big-day.html.twig' %}
{% include 'WeeksAppBundle:Default/sections:its-happening.html.twig' %}
{% include '@WeeksApp/Default/sections/venue.html.twig' %}
{% include 'WeeksAppBundle:Default/sections:weather.html.twig' %}
{% include 'WeeksAppBundle:Default/sections:budget.html.twig' %}

{% include '@WeeksApp/Default/sections/flights.html.twig' %}
{% include 'WeeksAppBundle:Default/sections:itinerary.html.twig' %}
{% include 'WeeksAppBundle:Default/sections:guests.html.twig' %}
{% include 'WeeksAppBundle:Default/sections:wedding-inspiration.html.twig' %}

<footer class="footer">
</footer>

<script src="/vendor/jquery/dist/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/swipe/2.0.0/swipe.min.js"></script>
<script src="/vendor/what-input/dist/what-input.js"></script>
<script src="/vendor/foundation-sites/dist/js/foundation.js"></script>
<script src="/assets/js/app.js"></script>
<script src="/vendor/jquery.countdown/dist/jquery.countdown.js"></script>
<script type="text/javascript">
    (function ($) {
        $('#the-big-day').countdown("2017/11/4 12:00:00").on('update.countdown', function (event) {
            var $this = $(this).html(event.strftime(''
                    + '<li class="column column-block"><span class="number">%-w</span><span class="date">week%!w</span></div> '
                    + '<li class="column column-block"><span class="number">%-d</span><span class="date">day%!d</span></div> '
                    + '<li class="column column-block"><span class="number">%H</span><span class="date">hr</span></div> '
                    + '<li class="column column-block"><span class="number">%M</span><span class="date">min</span></div> '
                    + '<li class="column column-block"><span class="number seconds">%S</span><span class="date">sec</span></div>'));
        });
        $('a[href*="#"]:not([href="#"])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html, body').animate({
                        scrollTop: target.offset().top - 80
                    }, 2000);
                    return false;
                }
            }
        });

        $('.frame').each(function (key,frame) {
//            var frame = $(frame);
//            var image = frame.find('img');
//            frame.parent().css('max-width', image[0].naturalWidth)
        });
        var element = document.getElementById('slider');
        window.mySwipe = new Swipe(element, {
            startSlide: 0,
            draggable: true,
            autoRestart: false,
            continuous: true,
            disableScroll: true,
            stopPropagation: true,
            callback: function(index, element) {},
            transitionEnd: function(index, element) {}
        });

        var prevBtn = document.getElementById('prev'),
            nextBtn = document.getElementById('next');

        prevBtn.onclick = window.mySwipe.prev;
        nextBtn.onclick = window.mySwipe.next;

    })(jQuery);
</script>
</body>
</html>
