/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/storage/*
!app/cache/.gitkeep
!app/logs/.gitkeep
!/storage/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
/bower_components
/node_modules
