
<div id="flights">
    <div class="row expanded">
        <div class="large-12 columns no-padding photo-frame-right">
            <div class="frame">
                <img src="/assets/images/hilton.jpg" alt="">
            </div>
        </div>
        <div class="large-8 large-push-1 columns">
            <h2>Accommodation</h2>
            <p>
                Some local hotels to consider...
            </p>
            <ul>
                <li>
                    <strong>
                        <a href="https://www.travelodge.co.uk/hotels/573/Liverpool-Central-Exchange-Street-hotel" target="_blank">
                            Travelodge
                        </a>
                    </strong>
                </li>
                <li>
                    <strong>
                        <a href="https://www.ihg.com/hotelindigo/hotels/gb/en/liverpool/lplil/hoteldetail" target="_blank">
                            Hotel Indigo
                        </a>
                    </strong>
                </li>
                <li>
                    <strong>
                        <a href="https://www.ihg.com/crowneplaza/hotels/gb/en/liverpool/lpluk/hoteldetail" target="_blank">
                            Crowne Plaza
                        </a>
                    </strong>
                </li>
                <li>
                    <strong>
                        <a href="http://www3.hilton.com/en/hotels/united-kingdom/hilton-liverpool-city-centre-LPLHIHI/index.html" target="_blank">
                            Hilton Liverpool
                        </a>
                    </strong>
                </li>
            </ul>
            <p>
                <small>
                    Prices are around £100 / night when checked on 16/07/2017
                </small>
            </p>
        </div>
        <div class="large-16 large-push-4 columns end no-padding photo-frame-right iceland-2" style="margin-top:">
            <div class="frame">
                <img src="/assets/images/skyline.jpg" alt="">
            </div>
        </div>
    </div>
</div>