<div id="venue">
    <div class="row expanded">
        <div class="large-7 large-push-2 columns">
            <h3>Oh Me Oh My <small>- The Venue</small></h3>
            <p>
                West Africa House, <br>
                25 Water St, <br>
                Liverpool <br>
                L2 0RG
            </p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3060.600875104918!2d-2.995329173322594!3d53.40569873669272!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3b90e63dd1421b7b!2sOH+ME+OH+MY!5e0!3m2!1sen!2suk!4v1500213049563" frameborder="0" style="border:0;width:100%;height:300px" allowfullscreen></iframe>

        </div>
        <div class="large-14 columns no-padding photo-frame-left">
            <div class="frame">
                <img src="/assets/images/oh-me-oh-my2.webp" alt="">
            </div>
        </div>
    </div>
</div>