<li><a href="#big-day">Big day!</a></li>
<li><a href="#its-happening">It's Happening</a></li>
<li><a href="#venue">Venue</a></li>
<li><a href="#weather">The Weather</a></li>
<li><a href="#budget">Budget</a></li>
<li><a href="#flights">Flights</a></li>
<li><a href="#itinerary">Itinerary</a></li>
<li><a href="#guests">Guests</a></li>
<li><a href="#food-ordering">Food Ordering</a></li>