<div id="big-day" class="countdown-section">
    <div class="row text-center">
        <div class="large-18 large-centered columns">
            <ul id="the-big-day" class="row small-up-2 medium-up-3 large-up-5 countdown"></ul>
        </div>
    </div>
</div>