<div id="budget">
    <div class="row expanded">
        <div class="large-20 columns large-centered">
            <h1>
                Budget
            </h1>
            <p>
                This is a rough budget per person. Some prices are subject to change due to the exchange rate (we are keeping an eye on this and waiting for it to get stronger) and the majority of you have already sorted some of the flights/hotels!
            </p>
            <table class="fancy-table blue-table">
                <thead>
                <tr>
                    <th style="width: 20%"></th>
                    <th style="width: 10%">Cost</th>
                    <th style="width: 25%">How To Pay</th>
                    <th style="width: 20%">When</th>
                    <th style="width: 25%">Notes</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        Airport Transfer (return)
                    </td>
                    <td>
                        &pound;45
                    </td>
                    <td>
                        Book 'flybus+' via
                        <a href="https://www.re.is/flybus/" target="_blank">website</a>
                    </td>
                    <td>
                        <em>
                            November booking not available yet. Will update when available
                        </em>
                    </td>
                    <td>
                        We have used this service every time we have visited Iceland with no issues. Booking the 'plus' services means you are picked up and dropped off from your hotel.
                    </td>
                </tr>
                <tr>
                    <td>
                        Welcome Meal <small>(Thursday Night)</small>
                    </td>
                    <td>
                        &pound;30
                    </td>
                    <td>
                        Prepaid &amp; pre-ordered via wedding planner.
                    </td>
                    <td>
                        TBC
                    </td>
                    <td>
                        Restaurant info coming soon...
                    </td>
                </tr>
                <tr>
                    <td>
                        Private Coach with Guide including Golden Circle Tour (Normally costs &pound;70)
                    </td>
                    <td>
                        &pound;175
                    </td>
                    <td>
                        Paid via wedding planner
                    </td>
                    <td>
                        TBC
                    </td>
                    <td>
                        From Friday to Sunday.
                    </td>
                </tr>
                <tr>
                    <td>
                        Blue Lagoon Excursion
                    </td>
                    <td>
                        &pound;40
                    </td>
                    <td>
                        Book 'standard' ticket via <a href="http://www.bluelagoon.com/blue-lagoon-spa/prices-and-packages/experience-packages/" target="_blank">website</a>. <strong>Time TBC</strong>
                    </td>
                    <td>Can't book until June</td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>Two Night Stay At Kjarnholt (Wedding Venue)</td>
                    <td>&pound;200</td>
                    <td>Paid via wedding planner</td>
                    <td>TBC</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="text-center" colspan="5">Plus spends!</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>