
<div id="flights">
    <div class="row expanded">
        <div class="large-12 columns no-padding photo-frame-right">
            <div class="frame">
                <img src="/assets/images/flights.png" alt="">
            </div>
        </div>
        <div class="large-8 large-push-1 columns">
            <h2>Flights</h2>
            <p>
                The details of outbound flight are as follows, we would love it if you could all join us on this flight... Manchester To Reykjavik (Keflavik) with Icelandair
            </p>

            <table class="unstriped" style="width: 70%;">
                <tr>
                    <td>Flight No:</td>
                    <td>FL441</td>
                </tr>
                <tr>
                    <td>Seats:</td>
                    <td>Row 6</td>
                </tr>
                <tr>
                    <td>Time flight leaves</td>
                    <td>12:25am</td>
                </tr>
                <tr>
                    <td>Arrival Time</td>
                    <td>15:00pm</td>
                </tr>
            </table>
        </div>
        <div class="large-16 large-push-4 columns end no-padding photo-frame-right iceland-2">
            <div class="frame">
                <img src="/assets/images/iceland-2.png" alt="">
            </div>
        </div>
    </div>
</div>