<div id="food-ordering">
    <div class="row expanded">
        <div class="large-10 columns">
            <div>
                <h1 id="wedding-inspiration">
                    Meals
                </h1>
                <p>
                    Please order your food by filling out the <a href="/wedding/order-your-food">form</a> to pre order your food for the Meet Up Meal in October (if you are able to attend) and also the Welcome Meal on the Thursday we arrive in Iceland.
                </p>
            </div>
        </div>
        <div class="large-10 columns end no-padding photo-frame-right iceland-2">
            <img src="/assets/images/caruso.jpg" alt="">
        </div>
    </div>
</div>