<div id="guests-container">
    <div class="row expanded">
        <div class="large-10 columns large-centered">
            <h1 id="guests">
                Who's Coming?
            </h1>
            <p>

            </p>
            <table class="fancy-table">
                <thead>
                <tr>
                    <th style=""></th>
                    <th style="">Relationship</th>
                </tr>
                </thead>
                <tbody>
                    <tr><td>Arlene Ellison</td><td>Mother of bride</td></tr>
                    <tr><td>Derek Ellison</td><td>Father of bride</td></tr>
                    <tr><td>Sue	Rowlands</td><td>Mother of groom</td></tr>
                    <tr><td>Peter Rowlands</td><td>Step father of groom</td></tr>
                    <tr><td>Adrian Weeks</td><td>Father of groom</td></tr>
                    <tr><td>Pauline Weeks</td><td>Step mother of groom</td></tr>
                    <tr><td>Rebecca Weeks</td><td>Sister of groom/bridesmaid</td></tr>
                    <tr><td>Rob Ellison</td><td>Brother of bride</td></tr>
                    <tr><td>Nicola Denton</td><td>Girlfriend of Rob Ellison</td></tr>
                    <tr><td>Barry Magnall</td><td>Uncle of bride</td></tr>
                    <tr><td>Muriel Magnall</td><td>Auntie of bride</td></tr>
                    <tr><td>Emily Likely</td><td>Auntie of bride</td></tr>
                    <tr><td>Jasmine Dalton</td><td>Maid of Honour</td></tr>
                    <tr><td>Colin 'Nev' Dalton</td><td>Husband of Jasmine Dalton</td></tr>
                    <tr><td>Debbie Smith</td><td>Girlfriend of Ian Raynor</td></tr>
                    <tr><td>Ian Raynor</td><td>Best man</td></tr>

                </tbody>
            </table>
        </div>
    </div>
</div>