<div id="itinerary-container">
    <div class="row expanded">
        <div class="large-20 columns large-centered">
            <h1 id="itinerary">
                Itinerary
            </h1>
            <p>
                This is a provisional itinerary as it stands now, obviously this is subject to change but we want to give people a rough idea.
            </p>
            <table class="fancy-table">
                <thead>
                <tr>
                    <th style="width: 10%"></th>
                    <th style="width: 18%">Morning</th>
                    <th style="width: 18%">Afternoon</th>
                    <th style="width: 18%">Evening</th>
                    <th style="width: 18%">Night</th>
                    <th style="width: 18%">Notes</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>
                        Thursday
                    </th>
                    <td>
                        Travel to Manchester Airport
                        <hr>
                        Meet in departure lounge
                    </td>
                    <td>
                        Fly to Reykjavik
                        <hr>
                        Transfer to Reykjavik City Centre
                        <hr>
                        Check-in at Alda Hotel
                    </td>
                    <td>
                        Welcome meal in local restaurant
                        <hr>
                        Drinks in hotel/bar
                    </td>
                    <td>
                        Stay at Alda Hotel
                    </td>
                    <td>
                        Meal will be pre-ordered &amp; prepaid via wedding planner
                    </td>
                </tr>
                <tr>
                    <th>
                        Friday
                    </th>
                    <td>
                        Own time to explore Reykjavik
                    </td>
                    <td>
                        Lunch
                        <hr>
                        Picked up by coach at Alda Hotel
                        <hr>
                        Blue Lagoon
                    </td>
                    <td>
                        Travel to Kjarnholt
                        <hr>
                        Evening meal at Kjarnholt
                    </td>
                    <td>
                        Stay at Kjarnholt
                    </td>
                    <td>
                        Blue Lagoon tickets pre-booked for specific time.
                    </td>
                </tr>
                <tr>
                    <th>
                        Saturday
                    </th>
                    <td>
                        Breakfast
                        <hr>
                        Wedding ceremony
                    </td>
                    <td>
                        Lunch at Kjarnholt
                        <hr>Guests
                        <a href="https://www.re.is/day-tours/the-golden-circle/" target="_blank">
                            Golden Circle Tour
                        </a> on
                        private coach with guide. Bride and Groom go with photographer and wedding planner for photos.
                    </td>
                    <td>
                        Rest, shower and change ready for evening meal and reception.
                    </td>
                    <td>
                        Stay at Kjarnholt
                    </td>
                    <td>
                        <small>n/a</small>
                    </td>
                </tr>
                <tr>
                    <th>
                        Sunday
                    </th>
                    <td>
                        Breakfast
                        <hr>
                        Chill
                    </td>
                    <td>
                        Relaxed scenic route with stops back to Reykjavik City Centre/Bus Terminal
                    </td>
                    <td colspan="2">
                        Onward journey.
                    </td>

                    <td>
                        <small>n/a</small>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>