
<div id="its-happening">
    <div class="row expanded">
        <div class="large-11 columns no-padding photo-frame-right">
            <div class="frame">
                <img src="/assets/images/danny-helen.png" alt="">
            </div>
            <img class="illustration" src="/assets/images/illustration.png" alt="">
        </div>
        <div class="large-8 large-push-1 columns happening-content">
            <div class="the-big-day">
                <span class="day">4th</span><br>
                <span class="month">NOV</span><br>
                <span class="year">2017</span>
            </div>
            <h1>
                It’s happening!
            </h1>
            <p>
                Welcome to our wedding website!
            </p>
            <p>
                Here you'll find everything you will need to know about attending our wedding in Iceland.
            </p>
            <p>
                We will update you in the WhatsApp group when there are new additions to the website.
            </p>
            <h2>
                Why Iceland?
            </h2>
            <p>
                As you know we have been to Iceland a couple of times now and fallen more and more in love with it each time we have been.
            </p>
            <p>
                We are really looking forward to sharing our favourite places and experiences with you and making new memories together.
            </p>
        </div>
        <div class="large-11 columns large-pull-1 end no-padding photo-frame-right iceland">
            <div class="frame">
                <img src="/assets/images/iceland.png" alt="">
            </div>
        </div>
    </div>
</div>