<div id="venue">
    <div class="row expanded">
        <div class="large-7 large-push-2 columns">
            <h3>Kjarnholt <small>- The Venue</small></h3>
            <p>
                Kjarnholt is a beautiful converted farm house and stables originally built for two farming families in the 1950‘s. It‘s been totally renovated in a rustic manner keeping faith with the aesthetics of a classic Icelandic farm.
            </p>
            <p>
                Situated upon a small hill with views in every direction just south of the famous <a href="https://www.icelandtravel.is/about-iceland/destination-guide/south/detail/item350298/Geysir">Geysir</a>. With no light pollution it also gives us the best chance of seeing the Northern Lights if we are lucky enough!
            </p>
            <p>
                We have exclusive use of Kjarnholt and it's facilities for the duration of our stay.
            </p>
        </div>
        <div class="large-14 columns no-padding photo-frame-left">
            <div class="frame">
                <img src="/assets/images/kjarnholt.jpg" alt="">
            </div>
        </div>
    </div>
</div>