<div class="weather-bring">
    <div class="row expanded">
        <div class="large-18 columns large-centered">
            <div id="weather" class="large-22 large-push-2 columns">
                <h2>
                    The Weather in <br>
                    November is...
                </h2>
            </div>
            <div class="large-9 large-push-2 columns">
                <p>
                    not as bad as you'd think! You might be expecting snow but this is highly unlikely. Think of a nice crisp December morning!
                    <br>
                    It can be quite cold due to wind chill factor if we have a windy day.
                </p>
            </div>
            <div id="bring" class="large-12 large-push-3 columns">
                <h2>What you'll need</h2>
                <ul class="list-group">
                    <li class="list-group-item">
                        <i class="fa fa-circle fa-fw" aria-hidden="true"></i>Walking boots
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-circle fa-fw" aria-hidden="true"></i>Warm waterproof coat
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-circle fa-fw" aria-hidden="true"></i>Long Johns/Leggings
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-circle fa-fw" aria-hidden="true"></i>Scarf/Gloves
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-circle fa-fw" aria-hidden="true"></i>...more details regarding the wedding to come..
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>